// ---------------------------------------- //
// -------------- Basic Setup ------------- //
// ---------------------------------------- //
#faq {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}


// ---------------------------------------- //
// ----------- Background Cover ----------- //
// ---------------------------------------- //
#faq {
    .bg-cover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        div {
            position: absolute;
            width: 120%;
            height: 1px;
            right: 0;
            left: -100px;
            background-color: $color-white;
            top: 20%;

            &:nth-child(1) {
                top: 25%;
                transform: rotate(-16deg); 
            }
            &:nth-child(2) {
                top: 55%;
                transform: rotate(-16deg); 
            }
        }
    }
}


// ---------------------------------------- //
// --------------- Accordion -------------- //
// ---------------------------------------- //
#faq {
    .accordoin {
        max-width: 750px;
        margin: 0 auto;

        @media screen and (max-width: $media-lg) {
            max-width: 570px;
        }

        .panel {
            background-color: $color-white;
            border-radius: 5px;
            font-family: $font-roboto;

            &:not(:last-of-type) {
                margin-bottom: 5px;
            }

            button, p {
                padding-left: 60px;
                padding-right: 60px;

                @media screen and (max-width: $media-lg) {
                    padding-left: 45px;
                    padding-right: 45px;
                }
                @media screen and (max-width: $media-md) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
                @media screen and (max-width: $media-sm) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
            button {
                cursor: pointer;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 20px;
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .icon {
                    @include flexCenter();
                    width: 33px;
                    height: 33px;
                    border-radius: 50%;
                    background-color: $color-primary;
                    color: $color-white;
                    font-size: 25px;
                }

                @media screen and (max-width: $media-md) {
                    font-size: 18px;
                }
            }
            p {
                font-weight: 400;
                font-size: 18px;
                max-height: 0;
                overflow: hidden;
                transition: all 0.3s;

                &.active {
                    padding-bottom: 20px;
                    max-height: 200px;
                }

                @media screen and (max-width: $media-md) {
                    font-size: 16px;
                }
            }
        }
    }
}